openapi: 3.0.1
info:
  title: NSS 75th Round - Education (NSS75E / Social Consumption on Education)
  version: 1.0.0
servers:
- url: https://api.mospi.gov.in/
tags:
- name: NSS75E
  description: NSS 75th Round — All India Survey on Household Social Consumption on Education.
paths:
  /api/nss-75/getNSS75Records:
    get:
      tags:
      - NSS75E
      operationId: NSS75EIndicatorValues
      description: |
        - **Required:** `survey_code` (must be 2 for Education module), `indicator_code` (43-55)
        - **Filters (optional):** state_code, sector_code, gender_code, type_of_course_code, item_of_expenditure_code, facility_code, highest_level_of_education_successfully_completed_code, level_of_education_code, level_of_current_attendance_code
        - **Metadata/filters API (not in this path):** `/api/nss-75/getNSS75FilterByIndicatorId`
        - **Indicators API (not in this path):** `/api/nss-75/getIndicatorList?survey_code=2`

      parameters:
        - in: query
          name: survey_code
          required: true
          schema: { type: integer, enum: [2] }
          description: Education module code (always 2 for NSS75E indicators 43-55)

        - in: query
          name: indicator_code
          required: true
          schema: { type: integer }
          description: Indicator code (43-55)

        - in: query
          name: state_code
          schema: { type: integer }
          description: State / UT code (1-36 states/UTs; use get_metadata for valid values)

        - in: query
          name: sector_code
          schema: { type: integer }
          description: Sector code (1-4)

        - in: query
          name: gender_code
          schema: { type: integer }
          description: Gender code (1-7)

        - in: query
          name: type_of_course_code
          schema: { type: integer }
          description: Course type code (1-4)

        - in: query
          name: item_of_expenditure_code
          schema: { type: integer }
          description: Expenditure item code (1-6)

        - in: query
          name: facility_code
          schema: { type: integer }
          description: Facility type code (1-2)

        - in: query
          name: highest_level_of_education_successfully_completed_code
          schema: { type: integer }
          description: Highest level of education successfully completed code (1-7)

        - in: query
          name: level_of_education_code
          schema: { type: integer }
          description: Level of education code (1-6)

        - in: query
          name: level_of_current_attendance_code
          schema: { type: integer }
          description: Level of current attendance code (1-8)

        - in: query
          name: limit
          schema: { type: integer, default: 20 }

        - in: query
          name: page
          schema: { type: integer, minimum: 1 }

        - in: query
          name: Format
          schema:
            type: string
            enum: [JSON, CSV]
            default: JSON
          description: Response format (JSON or CSV)

        - in: query
          name: format
          schema:
            type: string
          description: Set to `xlsx` to download as Excel

      responses:
        "200":
          description: JSON array of indicator values
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  statusCode:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: Invalid request body
      security:
      - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      description: Bearer token to access these api endpoints
      name: Authorization
      in: header
x-original-swagger-version: "2.0"
